name: CI

on:
  push:
    branches:
      - develop
  pull_request:

# Needed for nx-set-shas when run on the main branch
permissions:
  actions: read
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
      ANDROID_SDK_VERSION: 34
      FLUTTER_VERSION: 3.19.3
      JDK_VERSION: 17.0.11
    timeout-minutes: 120
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0

      - name: Install node, pnpm, and dependencies
        uses: ./.github/actions/install-dependencies

      # Validating Launch Templates
      - run: pnpm exec nx-cloud validate --workflow-file="./.nx/workflows/agents.yaml"

      # Connect your workspace on nx.app and uncomment this to enable task distribution.
      # The "--stop-agents-after" is optional, but allows idle agents to shut down once the "e2e" targets have been requested
      - run: pnpm exec nx-cloud start-ci-run --distribute-on=".nx/workflows/dynamic-changesets.yaml" --stop-agents-after="e2e-ci" --with-env-vars="ANDROID_SDK_VERSION,FLUTTER_VERSION,JDK_VERSION"

      # This line is needed for nx affected to work when CI is running on a PR
      - run: git branch --track develop origin/develop || exit 0

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4
        with:
          main-branch-name: 'develop'

      - run: pnpm exec nx-cloud record -- nx format:check
      - run: pnpm exec nx affected -t lint test build e2e-ci --parallel=5 --exclude=smoke
