name: Release

on:
  push:
    branches:
      - master
      - next
      - beta
      - alpha

env:
  CI: true

jobs:
  release:
    name: Build, Release & Publish
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - run: | # we need to fetch the develop branch or else `affected:test` (run by husky after @semantic-release/git) will not work
          git fetch --depth=1
          git checkout develop
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 16.x
      - name: Build, Release on GitHub & Publish to NPM
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          yarn install --frozen-lockfile
          yarn ts-node -P ./tools/tsconfig.tools.json ./tools/release/patch-semantic-release-monorepo.ts
          yarn ts-node -P ./tools/tsconfig.tools.json ./tools/patch-nx-js-deps.ts
          DEBUG=true yarn run release
