name: Release

on:
  push:
    branches:
      - master
      - next
      - beta
      - alpha

env:
  CI: true

jobs:
  release:
    name: Build, Release & Publish
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - run:
          | # we need to fetch the develop branch or else `affected:test` (run by husky after @semantic-release/git) will not work
          git fetch --depth=1
          git checkout develop
          git checkout -

      - name: Install node, pnpm, and dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build, Release on GitHub & Publish to NPM
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          pnpm run release
